body {
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.navbar {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0px 20px;
}

.navbar-nav {
  font-size: 15px;
  font-family: 'Futura', 'sans-serif';
  color: #707070;
  font-weight: 300;
}

.active-route {
  text-decoration: underline;
}

.title-container {
  width: 100vw;
}

.title {
  font-size: 7vw;
  font-family: 'Futura', 'sans-serif';
  color: #000;
  text-align: center;
  line-height: 6vw;
  font-weight: 500;
  margin-top: 50px;
  position: relative;
  z-index: 10;
}

.image {
  width: 100%;
  float: left;
  clear: both;
}

.image-container, .title-image-container {
  padding: 0 15vw;
  max-width: 1300px;
  opacity: .85;
}

.image-container {
  background-color: blue;
}

.title-image-container {
  position: relative;
  z-index: 1;
  top: -3vw;
  margin-top: 0px;
}